body {
    font-family: "HelveticaNeue-Regular";
    height: auto;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none !important;
}

/*NAV BAR*/
.navBar {
    position: fixed;
    z-index: 1;
    height: 60px;
    width: 100vw;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(255, 255, 255, 0.0);
    border-bottom-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: thin;
    opacity: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navName {
    margin: 0px;
    color: white;
    text-shadow: 1px 1px black;
}

.navButtonsBox {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.navButtons {
    background-color: rgba(255, 255, 255, 0);
    color: white !important;
    border: none;
    text-shadow: 1px 1px black;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 6000% 0; }
}

/*HOME SCREEN*/
.firstScreen {
    background-image: url(../img/background/home-background.jpg);
    position: relative;
    background-size: auto;
    background-position: top;
    height: 100vh;
    width: 100vw;
    display: flex;

    background-repeat: repeat-x;
	animation: animatedBackground 2000s linear infinite;
}

.gradient {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.0), rgba(237, 239, 238, 1)); /* Standard syntax; must be last */
}

.bigTW {
    line-height: 60px;
    color: white;
    font-size: 4vw;
    font-family: "HelveticaNeue-CondensedBold";
    padding-left: 20px;
    height: 180px;
    text-shadow: 1px 1px black;
    overflow: visible;
}

/*TERMINAL SCREEN*/
/*.terminal {
    background-image: url(../img//background/test.png);
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}*/

/*ABOUT SCREEN*/
.aboutMe {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 8vh;
    padding-bottom: 2vh;
    padding-left: 8vw;
    padding-right: 8vw;
    background-image: url(../img/background/about-background.jpg);
    /*background-color: #E3E6E6;*/
    background-position: top;
    background-size: cover;
}
.aboutTD {
    display: flex;
    flex-direction: column;
}

.aboutTitle {
    display: flex;
    font-family: "HelveticaNeue-Light";
    margin-bottom: 0px;
    display: flex;
    padding-left: 3.5vw;
    padding-bottom: 20px;
}

.aboutDesc {
    display: flex;
    font-family: "HelveticaNeue-Light";
    color: #505050;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
}

.skillsBox {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;

}

.skill {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 150px;
    width: 350px;
}
.icon {
    display: flex;
    height: 80px;
    width: 80px;
    margin-right: 20px;

}

.skillTitle {
    display: flex;
    font-family: "HelveticaNeue-Regular";
    font-size: 22px;
    margin: 0;
}

.skillDesc {
    display: flex;
    font-family: "HelveticaNeue-Light";
    font-size: 14px;
    width: 225px;
    color: #505050;
    margin: 0;
}

/*PROJECTS*/
.projectsBox {
    padding-left: 52px;
    padding-right: 52px;
}

.projects {

}

.intellihome {
    width: 91vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.iChallenge {
    width: 91vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.projectImage {
    width: 780px;
    height: 520px;
}

.infoBox {
    display: flex;
    flex-direction: column;
}

.projectTD {
    width: 350px;
}

.projectTitle {
    font-family: "TrebuchetMS-Bold";
    font-size: 64px;

}

.projectDesc {
    font-family: "HelveticaNeue-Regular";
    text-align: justify;
    line-height: 40px;
    font-size: 24px;
}

.projectButton {
    display: block;
    background-color: #202020;
    color: white !important;
    border: none;
    font-size: 32px;
    width: 250px;
    height: 75px;
    text-align: center;
    line-height: 75px;
}
/*CONTACT*/
.contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.contactBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 97vw;
    height: 94vh;
    border: 1.2px;
    border-color: #F1F1F1;
    border-style: solid;
    padding-bottom: 15px;
    background-color: #F9F9F9;
}

.contactMe {

}

.contactTitle {
    text-align: center;
    font-size: 96px;
    margin: 0px;
}

.contactDesc {
    text-align: center;
    padding-top: 50px;
    font-size: 24px;
    margin: 0px;
}

.methodBox {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    padding-top: 50px;
}

.contactMethod {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.methodImage {
    width: 100px;
    height: 100px;
}

.methodTitle {
    padding-top: 20px;
    margin: 0px;
    padding-bottom: 20px;
}

.methodHL {
    margin: 0px;
}

.Resume {
    font-size: 24px;
    padding-top: 50px;
}
