body {
    font-family: "HelveticaNeue-Regular";
    height: auto;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/*NAV BAR*/
.navBar {
    position: fixed;
    z-index: 1;
    height: 60px;
    width: 100vw;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: thin;
    opacity: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navName {
    margin: 0px;
    color: #1490E2;
}

.navButtonsBox {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.navButtons {
    background-color: rgba(255, 255, 255, 0);
    color: #1490E2;
    border: none;
}

.navButtons:hover {

}
/*FIRST SCREEN*/
.FirstScreen {
    background-image: url(../img//background/background-first.png);
    position: relative;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    vertical-align: middle;
}

.titleDiv {
    position: absolute;
    top:45%;
    height:10em;
    margin-top:-5em;
    padding-left: 40px;
    height: auto;
}

.ordinaryLine {
    color: white;
    font-size: 3.3vw;
    font-family: "HelveticaNeue-CondensedBold";
}
.specialLine {
    color: white;
    font-size: 4vw;
    font-family: "HelveticaNeue-CondensedBold";
}

.title2 {
    color: white;
    font-size: 24px;
    font-family: "HelveticaNeue-Bold";
    text-align: center;
    bottom: 30px;
}

/*SECOND SREEN*/
.aboutMe {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 8vh;
    padding-bottom: 2vh;
    padding-left: 8vw;
    padding-right: 8vw;
}
.aboutTD {

}

.aboutTitle {
    font-family: "HelveticaNeue-Light";
    margin-bottom: 0px;
    display: flex;
    padding-left: 3.5vw;
    padding-bottom: 20px;
}

.aboutDesc {
    font-family: "HelveticaNeue-Light";
    color: #505050;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
}

.skillsBox {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;

}

.skill {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 150px;
    width: 350px;
}
.icon {
    display: flex;
    height: 80px;
    width: 80px;
    margin-right: 20px;

}

.skillTitle {
    font-family: "HelveticaNeue-Regular";
    font-size: 22px;
    margin: 0;
}

.skillDesc {
    font-family: "HelveticaNeue-Light";
    font-size: 14px;
    width: 225px;
    color: #505050;
    margin: 0;
}

/*THIRD SCREEN*/
.intellihome {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.intelliProject {
    width: 91vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.website {
    width: 780px;
    height: 500px;
}

.infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intelliTD {
    width: 350px;
}

.intelliTitle {
    font-family: "TrebuchetMS-Bold";
    font-size: 64px;

}

.intelliDesc {
    font-family: "HelveticaNeue-Regular";
    text-align: justify;
    line-height: 40px;
    font-size: 24px;
}

.intelliButton {
    display: block;
    background-color: #202020;
    color: white;
    border: none;
    font-size: 40px;
    width: 200px;
    height: 75px;
    text-align: center;
    line-height: 75px;

}
